.click-image img {
  cursor: pointer;
}

.modal-image {
  width: auto;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-image .modal-content {
  width: auto;
}

.modal-image img {
  width: auto;
  max-height: 70vh;
}

/* needed to combat bootstrap modal bug */
body {
  padding-right: 0 !important;
}
