button.subscribe {
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    background-color: #dc3545;
    border-color: darkgrey;
  }
  50% {
    background-color: #9a2530;
    border-color: darkslategrey;
  }
  100% {
    background-color: #dc3545;
    border-color: darkgrey;
  }
}
