.code-language-bar {
  font-size: 0.7em;
  background: orange;
  color: black;
  border-radius: 3px 3px 0 0;
}

.copy-button {
  font-size: 0.7em;
  border-radius: 3px;
}

.copy-button:focus {
  outline: none;
  box-shadow: none;
  background-color: #343a40;
}

div.bar-above-pre + pre {
  border-radius: 0 0 3px 3px;
}

pre div {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
               "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
}
